<div class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-4xl">
      <div>
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">
            Patient Information
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Patient details and appointment.
          </p>
        </div>
        <div class="mt-5 border-t border-gray-200">
          <dl class="sm:divide-y sm:divide-gray-200" *ngIf="patient">
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
              <dt class="text-sm font-medium text-gray-500">Patient ID</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                {{ patient.patientId }}
              </dd>
            </div>
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
              <dt class="text-sm font-medium text-gray-500">Name</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                {{ patient.name }}
              </dd>
            </div>
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
              <dt class="text-sm font-medium text-gray-500">Date of Birth
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                {{ patient.dateOfBirth }}
              </dd>
            </div>
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
              <dt class="text-sm font-medium text-gray-500">Gender</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                {{ patient.gender }}
              </dd>
            </div>
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
              <dt class="text-sm font-medium text-gray-500">
                Address
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                {{ patient.address }}
              </dd>
            </div>
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
              <dt class="text-sm font-medium text-gray-500">
                Contact Information
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                {{ patient.contactInfo }}
              </dd>
            </div>


<!--            <div class="py-4 sm:grid sm:grid-cols-1 sm:py-5">-->
<!--              <dt-->
<!--                class="text-sm font-medium text-gray-500 flex justify-end">-->

<!--              </dt>-->
<!--            </div>-->




            <div class="pt-8 mx-auto max-w-2xl space-y-8 sm:px-4 lg:max-w-4xl lg:px-0">
              <div
                class=" bg-white shadow-sm sm:rounded-lg"
              >
                <div class="flex justify-end">
                  <button
                    type="button"
                    class="m-3 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                    (click)="openReviewForm()"
                  >
                    Schedule Appointment
                  </button>

                </div>

                <div *ngIf="showReviewForm">
                  <form
                    (submit)="scheduleAppointment(appointmentForm)" #appointmentForm="ngForm"
                    class="p-4 space-y-8 divide-y divide-gray-200"
                  >
                    <div class="mt-6 space-y-8 divide-y divide-gray-200">
                      <div>
                        <div
                          class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6"
                        >
                          <div class="sm:col-span-6">
                            <label
                              for="date"
                              class="block text-sm font-medium text-gray-700"
                            >Appointment Date</label
                            >
                            <div class="mt-1">
                              <input
                                type="date"
                                id="date"
                                name="date"
                                [(ngModel)]="newAppointment.date"
                                required
                                #date="ngModel"
                                class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                [ngClass]="{ 'is-invalid': date.invalid && (date.dirty || date.touched) }"
                              />
                            </div>
                            <div
                              *ngIf="date.invalid && (date.dirty || date.touched)"
                              class="mt-2 text-sm text-red-600 invalid-feedback"
                            >
                              <div *ngIf="date.errors?.['required']">Date
                                is required.
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="pt-5">
                      <div class="flex justify-end">
                        <button
                          (click)="closeReviewForm()"
                          type="button"
                          class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                        >
                          Cancel
                        </button>
                        <button
                          [disabled]="appointmentForm.invalid"
                          type="submit"
                          class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>





          </dl>
        </div>



        <div class="mt-8 flex flex-col">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                 class="row-border hover">
            <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody >
            <ng-container *ngFor="let appointment of appointments">
              <tr *ngIf="appointment.status === 'Scheduled'">
                <td>{{ appointment.date | date }}</td>
                <td>{{ appointment.status }}</td>
                <td>
                  <button
                    type="button"
                    class="inline-flex items-center rounded-md border border-gray-300 bg-white px-3 py-2 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-30"
                    (click)="cancelAppointment(appointment._id)"
                  >Cancel</button>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>

        </div>


      </div>
    </div>
  </div>
</div>
