<app-desktop-navbar/>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- Company Logo -->
    <img
      class="mx-auto h-10 w-auto"
      src="/assets/images/favicon.png"
      alt="Your Company"
    />
    <!-- Sign-in Heading -->
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign in to your account
    </h2>
  </div>

  <!--  Login Form-->
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div>
        <label
          for="username"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Username
        </label>

        <div class="mt-2">
          <input
            id="username"
            name="username"
            type="text"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            required
            aria-invalid="true"
            aria-describedby="username-error"
            formControlName="username"
            minlength="3"
            maxlength="20"
          />
        </div>

        <div
          *ngIf="
            loginForm.get('username').errors &&
            (loginForm.get('username').dirty || loginForm.get('username').touched)
          "
          class="mt-2 text-sm text-red-600 alert"
          id="username-error"
        >
          <div *ngIf="loginForm.get('username').hasError('minlength')">
            Username must be at least 3 characters.
          </div>
          <div *ngIf="loginForm.get('username').hasError('maxlength')">
            Username cannot exceed 20 characters.
          </div>
          <div *ngIf="loginForm.get('username').hasError('required')">
            Username is required.
          </div>
        </div>
      </div>

      <!-- Password Input -->
      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
          >Password</label
          >

          <div class="text-sm">
            <a
              href="#"
              class="font-semibold text-indigo-600 hover:text-indigo-500"
            >Forgot password?</a
            >
          </div>
        </div>

        <div class="mt-2">
          <input
            autocomplete="current-password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            id="password"
            type="password"
            required
            name="password"
            aria-invalid="true"
            aria-describedby="password-error"
            formControlName="password"
            minlength="6"
            maxlength="20"
          />
        </div>

        <div
          *ngIf="
            loginForm.get('password').errors &&
            (loginForm.get('password').dirty || loginForm.get('password').touched)
          "
          class="mt-2 text-sm text-red-600 alert"
          id="password-error"
        >
          <div *ngIf="loginForm.get('password').hasError('required')">
            Password is required.
          </div>
          <div *ngIf="loginForm.get('password').hasError('maxlength')">
            Password cannot exceed 20 characters.
          </div>
          <div *ngIf="loginForm.get('password').hasError('maxlength')">
            Password must be at least 6 characters.
          </div>
        </div>
      </div>

      <div>
        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Sign in
        </button>
      </div>
    </form>

    <!-- Sign-up Link -->
    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a
        class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
      >Sign up</a
      >
    </p>
  </div>
</div>
